FULLNAME="Your Full Name"
EMAIL="your.email@example.com"
PHONE="+1 (123) 456-7890"
LOCATION="City, State/Province, Country"
LINKEDINURL="https://www.linkedin.com/in/yourprofile"

FULLNAME_PT="Seu Nome Completo"
EMAIL_PT="seu.email@exemplo.com"
PHONE_PT="+55 (12) 3456-7890"
LOCATION_PT="Cidade, Estado, País"
LINKEDINURL_PT="https://www.linkedin.com/in/seuperfil"
